.nav-menu{
	width:400px;
	margin:0 auto;
	font-family:arial;
	float:right;
}
.nav-menu a{
	color:#0090d8;
	text-decoration: none;
	display:block;
	width:100%;
	padding:8px 0 8px 10px;
}
ul li{
	padding:5px;			
}
nav > ul > li{
	display:inline-block;
	padding:5px 20px;
	/*border-left:1px solid #ccc;*/
}
nav > ul > li:first-child{
	border:none;
}
ul li ul{
	position: absolute;
	width:150px;
	display:none;
	background: #eeeffe;
	
}
nav > ul > li > ul > li ul{
	left:148px;
	margin-top:-41px;
}
ul > li ul li {
	display:block;
	border:none;
}
nav > ul > li ul li:first-child {			
	border:none;
}
ul li:hover > ul{
	display:inline-block;
}
.opened{
	display:block!important;
}

@media only screen and (max-width : 800px) {
	.responsive-nav{
		display:none;
	}
	.responsive-nav, .responsive-nav ul, .responsive-nav li{
		width:100%;
	}
	.responsive-nav ul{
		position:relative!important;
		display:block;
		left:0;
		margin:0;
	}
	.responsive-nav ul li{
		display:block;
		padding:0;
		margin:0;
	}
	.responsive-nav > ul > li{
		background: #eeefff;
	}
	.responsive-nav > ul > li ul li{
		border-left:5px solid #ccc!important;
	}
	.responsive-nav > ul > li ul{
		display:none;
	}
	
}